/* Estilização do footer */
footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}

#icons {
    margin-bottom: 10px;
}

/* TAMANHO E ESTILO DOS ÍCONES */
#icons a {
    color: white;
    font-size: 27px;
    margin: 0 10px;
    transition: transform 0.2s;
}

#icons a:hover {
    cursor: pointer;
    transform: scale(1.1);
    text-decoration: none;
    color: rgb(119, 119, 119);
    transition: transform 0.2s;
}

footer p{
    font-size: 15px;
}