/* Reset */
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #2c2c5d;
  font-family: "Poppins", sans-serif !important;
}

/* ------------------------------- MAIN ------------------------------- */

main {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: columns;
  align-items: center;
  justify-content: center;
  gap: 150px;
  margin-top: 50px;
}

main img {
  height: 360px;
}

article {
  display: grid;
  row-gap: 20px;
}

main h1 {
  font-size: 3.5rem;
  text-align: center;
  color: red;
}
main h3 {
  font-size: 1.2rem;
  text-align: center;
  color: #fff;
}

main button {
  font-size: 16px;
  position: relative;
  margin: auto;
  padding: 1em 2.5em 1em 2.5em;
  border: none;
  background: #fff;
  transition: all 0.1s linear;
  box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1);
}

main button:active {
  transform: scale(0.95);
}

main button span {
  color: #2c2c5d;
  font-weight: 700;
}

main button .border {
  position: absolute;
  border: 0.15em solid #fff;
  transition: all 0.3s 0.08s linear;
  top: 50%;
  left: 50%;
  width: 9em;
  height: 2.9em;
  transform: translate(-50%, -50%);
}

main button:hover .border {
  display: block;
  width: 11em;
  height: 3.4em;
}

.full-rounded {
  border-radius: 2em;
}

/* Media Query do MAIN */
/* PARA DISPOSITVOS MÓVEIS */
@media screen and (max-width: 767px) {
  main {
    flex-direction: column;
    gap: 50px;
  }

  main h1 {
    font-size: 2.5rem;
  }

  main h3 {
    font-size: 1rem;
  }

  main img {
    margin-top: 50px;
    height: 200px;
  }
}

/* PARA TABLETS */
@media (min-width: 768px) and (max-width: 1024px) {
  main {
    flex-direction: row;
    gap: 100px;
  }

  main h1 {
    font-size: 3rem;
  }

  main h3 {
    font-size: 1.1rem;
  }

  main img {
    height: 300px;
  }
}

/* PARA TELAS GRANDES */
@media (min-width: 1367px) {
  main {
    flex-direction: row;
    gap: 150px;
  }

  main h1 {
    font-size: 3.5rem;
  }

  main h3 {
    font-size: 1.2rem;
  }

  main img {
    height: 360px;
  }
}

/* ---------------------------- About ---------------------------- */
.backgroundwhite {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.7)); 
  width: 100vw; 
  position: relative; 
  overflow: hidden; 
  margin: 0 auto; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
}

#centralizar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about {
  height: auto;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  width: 80%;
  max-width: 800px;
  margin: 3vh auto;
  text-align: center;
  border-radius: 10px;
  background-color: #ffffff; 
}

#about h2 {
  font-size: 2.5rem;
  color: #2c3e50; 
  margin-bottom: 30px;
  text-transform: uppercase; 
  letter-spacing: 1.5px; /* Espaçamento entre letras */
  border-bottom: 2px solid #2c3e50; 
  display: inline-block;
  padding-bottom: 10px;
}

.rounded-image {
  width: 200px; 
  height: 200px; 
  border-radius: 50%;
  border: 5px solid white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  object-fit: cover; 
  margin-bottom: 20px;
}

#about h3 {
  font-size: 1.8rem;
  margin-top: 20px;
  color: #2c3e50; 
}

#about p {
  color: #2c3e50; 
  font-size: 1.2rem;
  text-align: justify;
  margin-top: 20px;
  width: 90%;
  line-height: 1.6; 
}

/* Media Queries do About */
/* PARA DISPOSITIVOS MÓVEIS */
@media screen and (max-width: 767px) {
  #about {
    width: 90%;
    padding: 20px;
  }

  #about h2 {
    font-size: 2rem;
  }

  .rounded-image {
    width: 150px;
    height: 150px;
  }

  #about h3 {
    font-size: 1.5rem;
  }

  #about p {
    width: 100%;
  }
}

/* PARA TABLETS */
@media (min-width: 768px) and (max-width: 1024px) {
  #about {
    width: 70%;
    padding: 30px;
  }

  #about h2 {
    font-size: 2.2rem;
  }

  .rounded-image {
    width: 180px;
    height: 180px;
  }

  #about h3 {
    font-size: 1.6rem;
  }

  #about p {
    width: 100%;
  }
}

/* PARA TELAS GRANDES */
@media (min-width: 1367px) {
  #about {
    width: 60%;
    padding: 40px;
  }

  #about h2 {
    font-size: 2.5rem;
  }

  .rounded-image {
    width: 200px;
    height: 200px;
  }

  #about h3 {
    font-size: 1.8rem;
  }

  #about p {
    width: 100%;
  }
}


/* ---------------------------- Dicas ---------------------------- */

#dicas {
  padding: 40px;
  background-color: #32326D;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  width: 80%;
  max-width: 1000px; 
  text-align: center;
}

#dicas h2 {
  font-size: 2.5rem;
  color: #fff; 
  margin-bottom: 30px;
  text-transform: uppercase; 
  letter-spacing: 1.5px; 
  border-bottom: 2px solid #fff; 
  display: inline-block;
  padding-bottom: 10px;
}

#centralizarvideoseinfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
  flex-wrap: wrap; 
}

#centralizarvideoseinfo iframe {
  flex: 1;
  max-width: 560px; 
  height: 315px; 
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

#centralizarvideoseinfo .info-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#centralizarvideoseinfo p {
  color: #fff; 
  font-size: 1.2rem;
  margin: 20px 0;
  max-width: 700px;
}

#centralizarvideoseinfo button {
  font-size: 18px;
  padding: 1em 3em; 
  border: none;
  background: #e74c3c;
  color: #fff;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  margin-top: 20px;
  cursor: pointer;
}

#centralizarvideoseinfo button:active {
  transform: scale(0.97);
}

#centralizarvideoseinfo button:hover {
  background: #c0392b; 
}

/* Media Queries para seções Dicas */

/* PARA DISPOSITIVOS MÓVEIS */
@media screen and (max-width: 767px) {
  #dicas {
    width: 90%;
    padding: 20px;
  }

  #dicas h2 {
    font-size: 2rem;
  }

  #centralizarvideoseinfo {
    flex-direction: column;
  }

  #centralizarvideoseinfo iframe {
    width: 100%;
    height: auto;
  }

  #centralizarvideoseinfo p {
    width: 100%;
    font-size: 1rem;
  }

  #centralizarvideoseinfo button {
    width: 100%;
    padding: 1em;
  }
}

/* PARA TABLETS */
@media (min-width: 768px) and (max-width: 1024px) {
  #dicas {
    width: 80%;
    padding: 30px;
  }

  #dicas h2 {
    font-size: 2.2rem;
  }

  #centralizarvideoseinfo {
    flex-direction: column;
  }

  #centralizarvideoseinfo iframe {
    width: 100%;
    height: auto;
  }

  #centralizarvideoseinfo p {
    width: 100%;
    font-size: 1.1rem;
  }

  #centralizarvideoseinfo button {
    width: auto;
  }
}

/* PARA TELAS GRANDES */
@media (min-width: 1367px) {
  #dicas {
    width: 60%;
    padding: 40px;
  }

  #dicas h2 {
    font-size: 2.5rem;
  }

  #centralizarvideoseinfo iframe {
    width: 560px;
    height: 315px;
  }

  #centralizarvideoseinfo p {
    width: 700px;
    font-size: 1.2rem;
  }

  #centralizarvideoseinfo button {
    width: auto;
  }
}


/* ---------------------------- Simulado ---------------------------- */

#simulado {
  padding: 40px;
  background-color: #f8f9fa; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  width: 80%;
  max-width: 1000px; 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; 
}

#simulado div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
  min-width: 300px; 
}

#simulado h2 {
  font-size: 2.5rem;
  color: #2c3e50; 
  margin-bottom: 20px;
  text-transform: uppercase; 
  letter-spacing: 1.5px; 
  border-bottom: 2px solid #2c3e50; 
  display: inline-block;
  padding-bottom: 10px;
}

#simulado p {
  color: #555; 
  font-size: 1.2rem;
  margin-bottom: 10px;
}

#simulado button {
  font-size: 18px;
  padding: 1em 2.5em; 
  border: none;
  background: #e74c3c;
  color: #fff;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  margin-top: 20px;
  cursor: pointer;
}

#simulado button:active {
  transform: scale(0.97);
}

#simulado button:hover {
  background: #c0392b; 
}

#simulado aside {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 300px; 
}

#simulado aside img {
  max-width: 100%;
  height: auto;
  border-radius: 10px; 
}

/* Media Queries para seções Simulados */

/* PARA DISPOSITIVOS MÓVEIS */
@media screen and (max-width: 767px) {
  #simulado {
    flex-direction: column;
  }

  #simulado div {
    padding-right: 0;
    margin-bottom: 20px;
  }

  #simulado h2 {
    font-size: 2rem;
  }

  #simulado p {
    font-size: 1rem;
  }

  #simulado button {
    width: 100%;
    padding: 1em;
  }

  #simulado aside img {
    width: 100%;
  }
}

/* PARA TABLETS */
@media (min-width: 768px) and (max-width: 1024px) {
  #simulado {
    flex-direction: column;
  }

  #simulado div {
    padding-right: 0;
    margin-bottom: 20px;
  }

  #simulado h2 {
    font-size: 2.2rem;
  }

  #simulado p {
    font-size: 1.1rem;
  }

  #simulado button {
    width: auto;
  }

  #simulado aside img {
    width: 100%;
  }
}

/* PARA TELAS GRANDES */
@media (min-width: 1367px) {
  #simulado {
    flex-direction: row;
  }

  #simulado h2 {
    font-size: 2.5rem;
  }

  #simulado p {
    font-size: 1.2rem;
  }

  #simulado button {
    width: auto;
  }

  #simulado aside img {
    width: auto;
  }
}

/* ---------------------------- Contato ---------------------------- */

#contato {
  padding: 40px;
  background-color: #32326d; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  width: 80%;
  max-width: 1000px; 
}

#contato h2 {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 30px;
  text-transform: uppercase; 
  letter-spacing: 1.5px; 
  border-bottom: 2px solid #fff; 
  display: inline-block;
  padding-bottom: 10px;
  text-align: center;
  width: 100%;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap; 
}

form, .contact-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 300px; 
}

form label {
  color: #fff;
  font-size: 1rem;
}

form input, form textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: #34495e;
  color: #fff;
}

form input[type="checkbox"] {
  width: auto;
  margin-right: 10px;
}

form label[style="display: flex;"] p {
  margin: 0;
  color: #fff;
}

form button {
  font-size: 18px;
  padding: 1em 3em; 
  border: none;
  background: #e74c3c;
  color: #fff;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  margin-top: 20px;
  cursor: pointer;
}

form button:active {
  transform: scale(0.97);
}

form button:hover {
  background: #c0392b; 
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
}

.contact-item i {
  font-size: 1.5rem;
}

.contact-info iframe {
  border: 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

/* Media Queries para seções Contato */

/* PARA DISPOSITIVOS MÓVEIS */
@media screen and (max-width: 767px) {
  #contato {
    width: 90%;
    padding: 20px;
  }

  .contact-container {
    flex-direction: column;
  }

  form button {
    width: 100%;
    padding: 1em;
  }
}

/* PARA TABLETS */
@media (min-width: 768px) and (max-width: 1024px) {
  #contato {
    width: 80%;
    padding: 30px;
  }

  form button {
    width: auto;
  }
}

/* PARA TELAS GRANDES */
@media (min-width: 1367px) {
  #contato {
    width: 60%;
    padding: 40px;
  }

  form button {
    width: auto;
  }
}

