/* Reset */
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #2c2c5d;
  font-family: "Poppins", sans-serif !important;
}

/* ------------------------------- MAIN ------------------------------- */

main {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: columns;
  align-items: center;
  justify-content: center;
  gap: 150px;
  margin-top: 50px;
}

main img {
  height: 360px;
}

article {
  display: grid;
  row-gap: 20px;
}

main h1 {
  font-size: 3.5rem;
  text-align: center;
  color: red;
}
main h3 {
  font-size: 1.2rem;
  text-align: center;
  color: #fff;
}

main button {
  font-size: 16px;
  position: relative;
  margin: auto;
  padding: 1em 2.5em 1em 2.5em;
  border: none;
  background: #fff;
  transition: all 0.1s linear;
  box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1);
}

main button:active {
  transform: scale(0.95);
}

main button span {
  color: #2c2c5d;
  font-weight: 700;
}

main button .border {
  position: absolute;
  border: 0.15em solid #fff;
  transition: all 0.3s 0.08s linear;
  top: 50%;
  left: 50%;
  width: 9em;
  height: 2.9em;
  transform: translate(-50%, -50%);
}

main button:hover .border {
  display: block;
  width: 11em;
  height: 3.4em;
}

.full-rounded {
  border-radius: 2em;
}

/* Media Query do MAIN */
/* PARA DISPOSITVOS MÓVEIS */
@media screen and (max-width: 767px) {
  main {
    flex-direction: column;
    gap: 50px;
  }

  main h1 {
    font-size: 2.5rem;
  }

  main h3 {
    font-size: 1rem;
  }

  main img {
    margin-top: 50px;
    height: 200px;
  }
}

/* PARA TABLETS */
@media (min-width: 768px) and (max-width: 1024px) {
  main {
    flex-direction: row;
    gap: 100px;
  }

  main h1 {
    font-size: 3rem;
  }

  main h3 {
    font-size: 1.1rem;
  }

  main img {
    height: 300px;
  }
}

/* PARA TELAS GRANDES */
@media (min-width: 1367px) {
  main {
    flex-direction: row;
    gap: 150px;
  }

  main h1 {
    font-size: 3.5rem;
  }

  main h3 {
    font-size: 1.2rem;
  }

  main img {
    height: 360px;
  }
}

/* ---------------------------- About ---------------------------- */
.backgroundwhite {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.7)); /* Degradê suave */
  width: 100vw; /* Ocupa toda a largura disponível */
  position: relative; /* Para o efeito de borda */
  overflow: hidden; /* Esconde overflow para efeito de borda */
  margin: 0 auto; /* Centraliza horizontalmente */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

#centralizar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about {
  height: auto;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  width: 80%;
  max-width: 800px;
  margin: auto;
  text-align: center;
  border-radius: 10px;
}

#about h2 {
  font-size: 2.5rem;
  color: #000;
  margin-bottom: 30px;
}

.rounded-image {
  width: 200px; /* Ajuste o tamanho conforme necessário */
  height: 200px; /* Certifique-se de que a largura e a altura sejam iguais para manter a imagem redonda */
  border-radius: 50%;
  border: 5px solid white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  object-fit: cover; /* Isso garante que a imagem se ajuste corretamente dentro do contêiner redondo */
  margin-bottom: 20px;
}

#about h3 {
  font-size: 1.8rem;
  margin-top: 20px;
  color: #000;
}

#about p {
  color: #000;
  font-size: 1.2rem;
  text-align: justify;
  margin-top: 20px;
  width: 90%;
}

/* Media Queries do About */
/* PARA DISPOSITVOS MÓVEIS */
@media screen and (max-width: 767px) {
  #about {
    width: 90%;
    padding: 20px;
  }

  #about h2 {
    font-size: 2rem;
  }

  .rounded-image {
    width: 150px;
    height: 150px;
  }

  #about h3 {
    font-size: 1.5rem;
  }

  #about p {
    width: 100%;
  }
}

/* PARA TABLETS */
@media (min-width: 768px) and (max-width: 1024px) {
  #about {
    width: 70%;
    padding: 30px;
  }

  #about h2 {
    font-size: 2.2rem;
  }

  .rounded-image {
    width: 180px;
    height: 180px;
  }

  #about h3 {
    font-size: 1.6rem;
  }

  #about p {
    width: 100%;
  }
}

/* PARA TELAS GRANDES */
@media (min-width: 1367px) {
  #about {
    width: 60%;
    padding: 40px;
  }

  #about h2 {
    font-size: 2.5rem;
  }

  .rounded-image {
    width: 200px;
    height: 200px;
  }

  #about h3 {
    font-size: 1.8rem;
  }

  #about p {
    width: 100%;
  }
}

/* ---------------------------- Dicas ---------------------------- */

#dicas {
  padding: 40px;
  text-align: center;
  border-radius: 10px;
  margin: 20px auto;
  width: 80%;
  max-width: 900px; /* Aumentando a largura máxima */
}

#dicas h2 {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 30px;
  text-transform: uppercase; /* Texto em maiúsculas */
  letter-spacing: 1.5px; /* Espaçamento entre letras */
  border-bottom: 2px solid #fff; /* Linha inferior */
  display: inline-block;
  padding-bottom: 10px;
}

#centralizarvideoseinfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

#centralizarvideoseinfo iframe {
  width: 100%;
  max-width: 700px; /* Aumentando a largura do vídeo */
  height: 394px; /* Proporção 16:9 para o vídeo */
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

#centralizarvideoseinfo p {
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
  margin: 20px 0;
  max-width: 700px;
}

#centralizarvideoseinfo button {
  font-size: 18px;
  padding: 1em 3em; /* Aumentando o padding */
  border: none;
  background: #ff5e5e; /* Cor de fundo vermelha */
  color: #fff;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.2);
  border-radius: 25px; /* Botões mais arredondados */
}

#centralizarvideoseinfo button:active {
  transform: scale(0.97);
}

#centralizarvideoseinfo button:hover {
  background: #d9534f; /* Mudança de cor no hover */
}

/* Media Queries para seções Dicas */

/* PARA DISPOSITIVOS MÓVEIS */
@media screen and (max-width: 767px) {
  #dicas {
    width: 90%;
    padding: 20px;
  }

  #dicas h2 {
    font-size: 2rem;
  }

  #centralizarvideoseinfo {
    flex-direction: column;
  }

  #centralizarvideoseinfo iframe {
    width: 100%;
    height: auto;
  }

  #centralizarvideoseinfo p {
    width: 100%;
    font-size: 1rem;
  }

  #centralizarvideoseinfo button {
    width: 100%;
    padding: 1em;
  }
}

/* PARA TABLETS */
@media (min-width: 768px) and (max-width: 1024px) {
  #dicas {
    width: 80%;
    padding: 30px;
  }

  #dicas h2 {
    font-size: 2.2rem;
  }

  #centralizarvideoseinfo {
    flex-direction: column;
  }

  #centralizarvideoseinfo iframe {
    width: 100%;
    height: auto;
  }

  #centralizarvideoseinfo p {
    width: 100%;
    font-size: 1.1rem;
  }

  #centralizarvideoseinfo button {
    width: auto;
  }
}

/* PARA TELAS GRANDES */
@media (min-width: 1367px) {
  #dicas {
    width: 60%;
    padding: 40px;
  }

  #dicas h2 {
    font-size: 2.5rem;
  }

  #centralizarvideoseinfo iframe {
    width: 700px;
    height: 394px;
  }

  #centralizarvideoseinfo p {
    width: 700px;
    font-size: 1.2rem;
  }

  #centralizarvideoseinfo button {
    width: auto;
  }
}

